.footer {
  padding-top: 113px;
  padding-bottom: 25px;
  background-color: #fff5f6;
}

.footer__content {
  border-bottom: 1px solid #e1e1e1;
}
.footer__wrap-heading {
}
.footer__plea {
}
.footer__title {
}
.footer__wrap-address {
}
.footer__soc {
}
.footer__item {
}
.footer__link {
}
.footer__svg {
}
.footer__wrap-text {
}
.footer__text {
}
.footer__tel {
}
.footer__bottom {
}
.footer__bottom-text {
}
