<header class="header">
  <div class="container">
    <div class="header__container">
      <a class="header__logo" href="./index.html" aria-label="IceCream logo">
        <svg class="header__logo-svg">
          <use href="./images/icons.svg#logo"></use>
        </svg>
        IceCream
      </a>
      <button
        type="button"
        class="header__button-menu"
        aria-label="кнопка открыть"
        aria-expanded="false"
        data-menu-open
      >
        <svg class="header__button-svg">
          <use href="./images/icons.svg#burger"></use>
        </svg>
      </button>

      <nav>
        <ul class="header-nav">
          <li class="header-nav__item">
            <a class="header-nav__link" href="#hero">Home</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#about">About us</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#made">How it’s made?</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#products">Our products</a>
          </li>
          <li class="header-nav__item">
            <a class="header-nav__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="header__button-modal" type="button">Buy now ></button>
    </div>
  </div>
</header>
