<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero-left">
      <div class="hero-content">
        <h1 class="heading">
          ice cream made with <span class="heading-span">passion</span>
        </h1>
        <div class="hero-buttons">
          <button class="button-product" type="button">Products</button>
          <button class="button-how" type="button">How it’s made?</button>
        </div>
      </div>
      <div class="hero-milk">
        <img
          class="hero-milk__img"
          src="./images/hero/hero-milk-svg.svg"
          alt="молоко"
        />
        <div class="hero-milk-content">
          <p class="hero-milk-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="hero-milk__arrow-right" href="#made">
            <img src="./images/hero/arrow-right.svg" alt="стрелка в право" />
          </a>
        </div>
      </div>
    </div>
    <div class="hero-right">
      <div class="hero-number__wrap">
        <div class="number-wrap">
          <p class="hero-number">16</p>
          <p class="hero-number__text">cafes</p>
        </div>
        <div class="number-wrap">
          <p class="hero-number">23</p>
          <p class="hero-number__text">food trucks</p>
        </div>
      </div>
      <img
        class="hero-girl"
        src="./images/hero/hero-girl.svg"
        alt="девушка с мороженым"
      />
    </div>
  </div>
</section>
