<section class="locations">
  <div class="container locations__container">
    <ul class="locations__list">
      <li class="locations__card">
        <p class="locations__card-title locations__card-title--cafe">CAFE</p>
        <p class="locations__card-city">Chicago</p>
        <p class="locations__card-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="locations__week-time">
          <p class="locations__card-week">Monday - Friday</p>
          <p class="locations__card-time">06:00 AM - 10:00 PM</p>
          <p class="locations__card-week">Saturday - Sunday</p>
          <p class="locations__card-time">08:00 AM - 16:00 PM</p>
        </div>
        <a href="tel:+61(0) 383 766 284" class="locations__card-tel"
          >+61(0) 383 766 284</a
        >
        <a class="locations__card-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>

      <li class="locations__card">
        <p class="locations__card-title locations__card-title--food">
          FOODTRUCK
        </p>
        <p class="locations__card-city">Los Angeles</p>
        <p class="locations__card-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="locations__week-time">
          <p class="locations__card-week">Monday - Friday</p>
          <p class="locations__card-time">06:00 AM - 10:00 PM</p>
          <p class="locations__card-week">Saturday - Sunday</p>
          <p class="locations__card-time">08:00 AM - 16:00 PM</p>
        </div>
        <a href="tel:+61(0) 383 766 284" class="locations__card-tel"
          >+61(0) 383 766 284</a
        >
        <a class="locations__card-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>

      <li class="locations__card">
        <p class="locations__card-title locations__card-title--cafe">CAFE</p>
        <p class="locations__card-city">New York</p>
        <p class="locations__card-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="locations__week-time">
          <p class="locations__card-week">Monday - Friday</p>
          <p class="locations__card-time">06:00 AM - 10:00 PM</p>
          <p class="locations__card-week">Saturday - Sunday</p>
          <p class="locations__card-time">08:00 AM - 16:00 PM</p>
        </div>
        <a href="tel:+61(0) 383 766 284" class="locations__card-tel"
          >+61(0) 383 766 284</a
        >
        <a class="locations__card-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <button class="locations__button-our" type="button">
      <p>Our Locations</p>
      <p class="locations__button-gt">&gt;</p>
    </button>
    <button class="locations__button-franchise" type="button">
      <p>Franchise</p>
      <p class="locations__button-gt">&gt;</p>
    </button>
  </div>
</section>
