<section class="made" id="made">
  <div class="container">
    <h3 class="made__plea">tradition and love</h3>
    <h2 class="made__title">how it’s made?</h2>
    <img
      class="made__cow"
      src="./images/made/made-cow-svg.svg"
      alt="корова и молоко"
    />
    <h4 class="made__caption">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </h4>
  </div>
  <p class="made__text">
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
    Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit
    ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam
    erat volutpat. Aenean accumsan.
  </p>
  <button class="made__button" type="button">
    <p>Read more</p>
    <p class="made__button-gt">&gt;</p>
  </button>

  <ul class="made__list">
    <li class="made__item">
      <img
        class="made__item-svg"
        src="./images/made/made-svg-1.svg"
        alt="молоко"
      />
      <p class="made__item-number">721</p>
      <p class="made__item-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>

    <li class="made__item">
      <img
        class="made__item-svg"
        src="./images/made/made-svg-2.svg"
        alt="фрукты"
      />
      <p class="made__item-number">16kg</p>
      <p class="made__item-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>

    <li class="made__item">
      <img
        class="made__item-svg"
        src="./images/made/made-svg-3.svg"
        alt="мороженное на палачке"
      />
      <p class="made__item-number">84</p>
      <p class="made__item-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
