<div class="modal-menu is-hidden" data-menu>
  <button
    type="button"
    class="modal-menu__button-close"
    aria-label="кнопка закрыть"
    aria-expanded="true"
    data-menu-close
  >
    <svg class="button-close__svg">
      <use href="./images/icons.svg#close"></use>
    </svg>
  </button>
  <button class="modal-menu__button-modal" type="button">Buy now ></button>

  <ul class="modal-nav" data-list>
    <li class="modal-nav__item">
      <a class="modal-nav__link" href="#hero">Home</a>
    </li>
    <li class="modal-nav__item">
      <a class="modal-nav__link" href="#about">About us</a>
    </li>
    <li class="modal-nav__item">
      <a class="modal-nav__link" href="#made">How it’s made?</a>
    </li>
    <li class="modal-nav__item">
      <a class="modal-nav__link" href="#products">Our products</a>
    </li>
    <li class="modal-nav__item">
      <a class="modal-nav__link" href="#contact">Contact</a>
    </li>
  </ul>
</div>
