<section class="products" id="products">
  <div class="container">
    <h3 class="products__plea">100% natural</h3>
    <h2 class="products__title">products</h2>

    <ul class="products__list">
      <li class="products__item products__item--cream">
        <img
          class="products__images"
          src="./images/products/cream.svg"
          alt="мороженное в вафельном стакане"
        />
        <h4 class="products__caption">ice cream</h4>
        <svg class="products__ellipsis" aria-label="троеточие">
          <use href="./images/icons.svg#ellipsis"></use>
        </svg>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products-link" href="#">
          <img
            class="products__arrow-right"
            src="./images/products/arrow-right.svg"
            alt="стрелка в право"
          />
        </a>
      </li>

      <li class="products__item products__item--coffee">
        <img
          class="products__images"
          src="./images/products/coffee.svg"
          alt="мороженное с кофе в стакане"
        />
        <h4 class="products__caption">ice coffee</h4>
        <svg class="products__ellipsis" aria-label="троеточие">
          <use href="./images/icons.svg#ellipsis"></use>
        </svg>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products-link" href="#">
          <img
            class="products__arrow-right"
            src="./images/products/arrow-right.svg"
            alt="стрелка в право"
          />
        </a>
      </li>

      <li class="products__item products__item--shakes">
        <img
          class="products__images"
          src="./images/products/shakes.svg"
          alt="мороженное с шоколадом"
        />
        <h4 class="products__caption">milkshakes</h4>
        <svg class="products__ellipsis" aria-label="троеточие">
          <use href="./images/icons.svg#ellipsis"></use>
        </svg>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products-link" href="#">
          <img
            class="products__arrow-right"
            src="./images/products/arrow-right.svg"
            alt="стрелка в право"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
