<section class="reviews">
  <div class="container">
    <div class="reviews__thumb">
      <img
        class="reviews__img"
        src="./images/reviews/reviews-img-1.svg"
        alt="Пользователь"
      />
      <div class="reviews__content-wrap">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <svg class="reviews__ellipsis" aria-label="троеточие">
        <use href="./images/icons.svg#ellipsis"></use>
      </svg>
      <p class="reviews__city">Emily, Los Angeles</p>
      <img
        class="reviews__dots"
        src="./images/reviews/dots.svg"
        alt="Пользователь"
      />
    </div>
  </div>
</section>
